<!DOCTYPE html>
<html>
  <head>
    <title>SampleLogin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 style="text-align: center; margin-top: 200px">welcome to home</h1>
    <a       style="text-align: center; text-decoration: none; margin-top: 50px"
 href="/auth/google">Login With Google</a>
    <a
      style="text-align: center; text-decoration: none; margin-top: 50px"
      href="/auth/github"
      >Login With Github</a
    >
  </body>
</html>
